.home-wrap {
	.logo {
		height: 32px;
		background: rgba(255,255,255,.2);
		margin: 16px;
		color: #fff;
		text-align: center;
		font-size: 20px;
	  }
	.chart-wrap{
		>div{
			margin-bottom: 5%;
		}
	}
	.ant-upload {
		position: absolute;
		top: 85%;
		left: 29%;
	}

	.chart-fake{
		overflow: hidden;
	}
}