body, html {
    font-family: Microsoft Yahei,sans-serif!important;
	margin: 0;
	font-size: 0.9722vw;
	font-weight: 400;
	overflow: auto;
}
*{
	margin: 0;
	padding: 0;
}


//标题1
.font-h1{
	font-size: 1.3889vw;
	font-weight: 600;
}
//标题2
.font-h2{
	font-size: 1.1111vw;
	font-weight: 600;
}
//标题3
.font-h3{
	font-size: 0.9722vw;
	font-weight: 600;
}